/* Make page take full height */
html,
body {
  height: 100%;
}

/* Main layout wrapper */
.nxl-container {
  min-height: 88.5vh;
  display: flex;
  flex-direction: column;
}

/* Content should expand */
.nxl-content {
  flex: 1 0 auto;
}

/* Footer stays at bottom */
.footer {
  flex-shrink: 0;
}

/* Navbar logo sizing */
.b-brand .logo-lg {
  max-height: 42px;
  width: auto;
}

.dataTables_wrapper .row:first-child,
.dataTables_wrapper .row:last-child {
  padding: 0px 25px;
  padding-top: 18px;
  padding-bottom: 8px;
}
